<!-- templates/register.html -->
<!DOCTYPE html>
<html>
<head>
  <title>Registration Form</title>
</head>
<body>

  <h2>Registration Form</h2>

  <form action="/register" method="post">
    <table>
      <tr>
        <td><label for="userid">User id:</label></td>
        <td><input type="text" id="userid" name="userid"></td>
      </tr>
      <tr>
        <td><label for="password">Password:</label></td>
        <td><input type="password" id="password" name="password"></td>
      </tr>
      <tr>
        <td><label for="name">Name:</label></td>
        <td><input type="text" id="name" name="name"></td>
      </tr>
      <tr>
        <td><label for="address">Address:</label></td>
        <td><input type="text" id="address" name="address"></td>
      </tr>
      <tr>
        <td><label for="country">Country:</label></td>
        <td>
          <select id="country" name="country">
            <option value="India">India</option>
            <option value="USA">USA</option>
            <option value="UK">UK</option>
            <option value="Others">Others</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><label for="zipcode">Zip-code:</label></td>
        <td><input type="text" id="zipcode" name="zipcode"></td>
      </tr>
      <tr>
        <td><label for="email">Email:</label></td>
        <td><input type="email" id="email" name="email"></td>
      </tr>
      <tr>
        <td><label>Gender:</label></td>
        <td>
          <input type="radio" id="male" name="gender" value="male">
          <label for="male">Male</label>
          <input type="radio" id="female" name="gender" value="female">
          <label for="female">Female</label>
        </td>
      </tr>
      <tr>
        <td><label>Language you prefer:</label></td>
        <td>
          <input type="checkbox" id="english" name="language" value="English">
          <label for="english">English</label>
          <input type="checkbox" id="malayalam" name="language" value="Malayalam">
          <label for="malayalam">Malayalam</label>
        </td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: center;">
          <input type="submit" value="Submit">
        </td>
      </tr>
    </table>
  </form>

</body>
</html>
